*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav.show-nav {
  position: fixed;
  display: inline-block;
}
nav {
  background-color: #3b4144;
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: var(--white-color);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px 20px;
  width: 300px;
  max-height: 100vh;
  height: 100vh;
  z-index: 100;
}
nav .text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li .show-nav-contents {
  display: none;
  padding: 8px 10px;
  overflow: hidden;
}
nav ul li ul.hidenav {
  display: none;
}
/* nav ul li {
  padding: 8px;
  } */
nav ul li a {
  text-decoration: none;
  color: #cdd1d4;
}
nav ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 900px) {
  nav {
    width: 40%;
  }
}
@media (max-width: 540px) {
  nav {
    width: 60%;
  }
}
@media (max-width: 375px) {
  nav {
    width: 100%;
  }
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
}
nav ul li ul li {
  padding: 8px;
  margin-left: 5px;
}
nav .btn-text-nav {
  background-color: transparent;
  color: #fff;
  margin-top: 10px;
  font-size: medium;
  padding: 10px;
  border: none;
}
nav .text-btn .close-nav {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: large;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-bottom: 10px;
  font-size: large;
}
/* arrow of navbar section  style */
/* keyboard arrow img */
nav img {
  width: 24px;
  height: 15px;
}
.buyimg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rentimg-btn-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mortgageimg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.localimg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.additional-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*  */
header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  top: 0;
  margin: 0;
  padding: 8px 10px;
  width: 100%;
  z-index: 3;
}
header .container {
  display: flex;
  width: 100%;
}
header .contents-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0;
}
header .d-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px 5px;
  font-weight: 700;
  font-size: 20px;
}
header .contents ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin: 0;
  color: #3b4144;
  padding-right: 8px;
}
header .contents ul li {
  cursor: pointer;
  padding: 8px;
}
@media (max-width: 1060px) {
  header .contents ul {
    display: none;
  }
}
.contents ul li a {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  color: #3b4144;
  padding: 7px;
  text-decoration: none;
}
.contents ul li .buy-contents {
  display: none;
  position: fixed;
  top: 40px;
  left: 5rem;
  width: 180px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2);
}
.p-hover:hover .nav-button {
  background-color: #007882;
  color: #fff;
  border-radius: 5px;
}

.p-hover:hover > .buy-contents {
  display: block;
}

.buy-contents li a {
  text-decoration: underline;
}
.list-show1 .buy-contents1 {
  display: none;
  position: fixed;
  top: 40px;
  left: 9rem;
  background-color: #fff;
  color: #3b4144;
  padding: 7px;
  border-radius: 5px;
  padding-bottom: 3px;
}
.list-show1 .nav-button1:hover {
  background-color: #007882;
  color: #fff;
  border-radius: 5px;
}
.contents ul li:hover > .buy-contents1 {
  display: block;
}
.list-show2 .buy-contents2 {
  display: none;
  position: fixed;
  top: 40px;
  left: 12.5rem;
  background-color: #fff;
  color: #3b4144;
  padding: 7px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.list-show2 .nav-button2:hover {
  background-color: #007882;
  color: #fff;
  border-radius: 5px;
}
.contents ul li:hover > .buy-contents2 {
  display: block;
  /* transition: all 0.3s ease; */
}
.contents ul ul li a:hover {
  text-decoration: underline;
}
header .contents2 {
  display: flex;
  align-items: center;
}
header .contents2 ul {
  list-style-type: none;
  display: flex;
  color: #3b4144;
  align-items: center;
}
@media (max-width: 900px) {
  .contents2 ul li .btn-text-hide {
    display: none;
  }
}
header .contents2 ul li {
  padding-right: 8px;
}

.contents2 ul li .button {
  cursor: pointer;
  padding: 8px;
  color: #3b4144;
  font-weight: 700;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.contents2 ul li .button:hover {
  background-color: rgb(0, 120, 130);
  color: #fff;
  border-radius: 5px;
}
.contents2 ul li .Signup-btn {
  border: 1px solid #cdd1d4;
  border-radius: 8px;
  /* background-color: transparent; */
}
.contents2 ul li .Signup-btn:hover {
  color: #fff;
  background-color: #e8e9ea;
}
header .contents2 ul li button {
  background-color: transparent;
  border: none;
}
header .contents2 ul li .button-text img {
  height: 24px;
  cursor: pointer;
  width: 24px;
}
/* modal */
/* modal */
.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.modal-container.show-modal {
  display: block;
}
.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 450px;
  height: 400px;
  animation-name: show-modal;
  animation-duration: var(--modal-duration);
}
.modal .signup-loginbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.signup-loginbtn h3 {
  padding: 10px;
}
.signup-loginbtn button {
  background-color: transparent;
  border: none;
  font-size: medium;
  position: absolute;
  top: 10px;
  right: 10px;
}
.signup-loginbtn .modal-form {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 100;
}
.emails {
  width: 100%;
  padding: 10px;
}
.modal-form label {
  display: block;
  margin-bottom: 4px;
  font-family: sans-serif, serif;
}
.modal-form .emails input {
  width: 100%;
  padding: 7px;
  display: block;
  outline: none;
  border-radius: 5px;
  border: 1px solid #828c91;
}
.modal-form .submitbtn {
  width: 100%;
  padding: 10px;
}
.modal-form .submitbtn button {
  width: 100%;
  display: block;
  background-color: #007882;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.login-line {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
}
.login-line span {
  width: 100%;
  border-bottom: 1px solid #b6b9bb;
}
.contact-withus {
  display: block;
  width: 100%;
  padding: 7px;
}
.facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-color: #5a639c;
  border-radius: 5px;
  margin-bottom: 5px;
  /* position: relative; */
}
.facebook a {
  text-decoration: none;
  color: #fff;
}
.facebook img {
  width: 30px;
  height: 24px;
  padding-right: 10px;
}

.google {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #828c91;
  padding: 7px;
  position: relative;
}
.google a {
  text-decoration: none;
  color: #333;
}
.google img {
  position: absolute;
  top: 5px;
  right: 0;
  height: 24px;
  width: 30px;
}
.loging-agree {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loging-agree p a {
  color: #007882;
}

.home {
  width: 100%;
  height:18rem;
  background-color: rgb(214, 229, 235);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .home {
    height: auto;
    flex-direction: column;
    justify-content: center;
    /* gap: 1rem; */
    padding: 1rem;
  }
}
  .title h1{
    margin-bottom: 1rem;
    font-family: "roboto",sans-serif;
    color: darkblue;
    font-size: 1.5rem;
}
  .title h5{
    font-size: 1rem;
    margin-bottom: 0.6rem;
    font-family: "roboto",sans-serif;
}
  .image img{
    width: 15rem;
    /* height: 10rem; */
   bottom: 0;
   }
   .image{
    /* border: 1px solid red;  */
    align-self:flex-end;
    margin-left: 8rem;
}

/* generall container code */
.generall-container{
    width: 100%;
    height: auto;
    margin-top: 0;
    padding:0 8rem 0 8rem;
}
@media(max-width:932px){
  .generall-container{
    padding: 0 6rem 0 6rem;
  }
}
@media(max-width:778px){
  .generall-container{
    padding: 0 4rem 0 4rem;
  }
}
@media(max-width:500px){
  .generall-container{
    padding: 0 2rem 0 2rem;
  }
}
@media(max-width:400px){
  .generall-container{
    padding: 0 1rem 0 1rem;
  }
}

/* -----------------code for get section----------------------- */
.rateing{
    width:100%;
    height: auto;
    margin-top: 4rem;
  }
  .purcahs-button{
    display: flex;
  }
  .purcahs-button button{
    width: 8rem;
    background-color: #fff;
    color: darkgreen;
    padding: 0.3rem;
    border: none;
    font-family: "roboto",sans-serif;
  }
  .purcahs-button button:hover{
    background-color: #e9e7e7;
    border-radius: 0.5rem;

  }
  .purchas-form{
    width: 100%;
    height:auto;
    border: 1px solid #6e6767;
    border-radius: 0.5rem;
    padding: 1rem;
  }
  .purchase-inputs{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.2rem;
  }
  @media(max-width:375px){
    .purchase-inputs{
      display: flex;
      flex-direction: column;
    }
  }
  .purchase-inputs .purchase-input{
    display: flex;
    flex-direction: column;
  }
  .purchase-input input{
    width:100%;
    margin-bottom: 1rem;
  }
  .purchase-input input,select{
    padding: 0.5rem;
    border: 1px solid  #6e6767;
    border-radius: 0.5rem;
  }
  .chech-box{
    display: flex;
  }
  .chech-box h4{
    margin-left:1rem;
  }
  .rate-button button{
    padding: 0.5rem;
    width: 12rem;
    background-color:darkcyan;
    border: 1px solid darkcyan;
    color: #fff;
    border-radius: 10px;
    font-size: 1rem;
    /* display: inline-block; */
  
  }
  .rate-button{
    text-align: center;
    margin-top: 1.5rem;
  }
  .rate-button button:hover{
    background-color: #fff;
    color: darkcyan;
    border: 1px solid darkcyan;
  }
  /* --------------code for rate graph section----- */
  .rate-graph{
    width:1005;
    height: auto;
    margin-top: 4rem;
  }
  .rate-graph h2{
    font-family: "roboto",sans-serif;
    margin-bottom: 1rem;
  }
  #interestRatesChart{
    height: 400px;
    width: 30rem;
  }
  /* -----------------code for mortage rate part----------- */
  .rate-help-container{
    width:100%;
    height: auto;
    margin-top: 4rem;
  }
  .rate-help-container h2{
    margin-bottom: 1rem;
  }
  .rate-help-container h5{
    margin-bottom: 3rem;
    font-size: 1rem;
  }
 .rate-help-cards{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
 }
 @media(max-width:375px){
  .rate-help-cards{
    display: flex;
    flex-direction: column;
  }
 }
 .rate-help-cards .rate-help-card{
    width: 100%;
    height: auto;
    padding: 1rem;    
 }
 .rate-headers{
    /* border: 1px solid red; */
    padding: 5px;
    width: 5rem;
    border-bottom: 4px solid darkcyan;
    margin-bottom: 1rem;
  }
  /* -------------code for tool section------------------------------ */
  .tool{
    width:100%;
    height:auto;
    /* border: 1px solid red; */

  }
  .tool h2{
    /* text-align: center; */
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: "roboto",sans-serif;
  }
  .tool h5{
    /* text-align: center; */
    font-size: 1rem;
    font-family: "roboto",sans-serif;
  }
  .tools-image{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1rem;
  }
  @media(max-width:932px){
    .tools-image{
      display:grid;
      grid-template-columns: 1fr 1fr;
    
    }
  }
  @media(max-width:500px){
    .tools-image{
      display: flex;
      flex-direction: column;
    }
    .tool .tool-img{
      width: 10rem;
    }
  }
  .tool-image{
    width: 14rem;
    height: 20rem;
    padding: 1rem;
  }
  .tool-image h3{
    margin-bottom: 1rem;
  }
  .tool-image p{
    line-height: 1.2rem;
    /* margin-bottom: 1rem; */
  }
  .tool .tool-img{
    width: 8rem;
    margin-bottom: 0.7rem;
    margin-left: 2rem;
  }
  .tool-image button{
    display: block;
    padding: 0.5rem;
    width: 12rem;
    background-color:#fff;
    border: 1px solid darkcyan;
    color: darkcyan;
    border-radius: 5px;
    font-size: 1rem;
  }
  .tool-image button:hover{
    background-color: rgb(212, 251, 251);
  }
  .tool-button{
    display: flex;
    justify-content: center;
    align-items: center;

  }
.btn1{
    padding-top:2.2rem;
}
.btn2{
    padding-top: 20px;
}
.btn3{
    padding-top: 20px;
}

.btn4{
    padding-top:3rem;
}

/* ---------------------code for shop container part---------------------------- */
.shop-container{
    width:100%;
    height: auto;
    margin-top: 4rem;
}
.shop-container h2{
    margin-bottom: 1rem;
}
.shop-container p{
    margin-bottom: 2rem;
    line-height: 1.3rem;
}

 .shop-cards{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
 }
 @media(max-width:375px){
  .shop-cards{
    display: flex;
    flex-direction: column;
  }
 }
 .shop-card{
    width: 100%;
    height: auto;
    padding: 1rem;
    /* border: 1px solid red;     */
 }
 /* .shop-card h3 {
    margin-bottom: 1rem;
  } */
  .shop-card h5{
    font-size:1rem;
    line-height: 1.3rem;
  }


  /* -----------------------code for footer section---------------- */
   .footer-container{
    width:100%;
    height: 25rem;
    margin-top: 2rem;
   }
   .footer-container .footer-links-cards{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    /* text-align: center; */
   }
   @media(max-width:932px){
    .footer-container .footer-links-cards{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
   }
   @media(max-width:375px){
    .footer-container .footer-links-cards{
      display:flex;
      flex-direction: column;
    }
    .footer-link-card{
      width: 100%;
      padding: 1rem;
  
    }
    .footer-link-card ul{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
   }
   .footer-link-card h3{
    margin-bottom: 1rem;
   }
   .footer-link-card ul li{
    list-style: none;
    margin-bottom: 0.7rem;
   }
   .footer-link-card a{
    text-decoration: none;
    color: black;
   }
   .footer-link-card a:hover{
    color: darkcyan;
    text-decoration: underline;
   }
   /* up down button */
  .footer-link-card svg{
    /* float: right; */
    margin-left: 10px;
    width: 24px;
    height: 24px;
    /* border: 1px solid red; */
  }
  .hide-link{
    display: none;
    padding: 10px;
  }
  .footer-link-card.active .hide-link{
    display: block;
  }
  .footer-link-card.active .arrow-down {
    display: none;
  }
  .footer-link-card:not(.active) .arrow-up {
    display: none;
  }

  /* ----------------code for footer end part------------------- */
  .footer-descreption{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.footer-descreption p{
    line-height: 1rem;
}
.footer-descreption a{
    color: darkgreen;
}
.footer-list{
    margin-bottom: 2rem;
}
.footer-list ul{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer-list li{
    list-style: none;
    padding-right: 2px;
    padding-left: 2px;
}
.footer-list li a{
    text-decoration: none;
    color: #777373;
}
.footer-list li a:hover{
    color: darkgreen;
    text-decoration: underline;
}
.footer-list .footer-circl {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: black;   
}
.footer-zillow{
    color: #777373;
}
.footer-copy-right{
    margin-top: 2rem;
    color: #777373;
}
